.nav-container {
  width: 100vw;
  height: 100vh;
}

.nav-links {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #0D2818;
  list-style: none;
  height: 100px;
}

.nav-button {
  width: 100px;
  padding: 10px 20px;
  margin: 10px 20px; 
  background-color: #efd367;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color:black;
}

.nav-button:hover {
  background-color: #ffbd59;
  color: black;
}

.logo {
  /*width: 128px;*/
  height: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  width: 100%;
  height: calc(100vh - 134px);
  background-color: #73BF95;
  display: flex;
  align-items: center;
  justify-content: center;
}